body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

nav ul li {
    display: inline;
    padding: 10px;
}

.carousel-item {
    width: 750px;
    height: 50vh;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-link {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.social-links,
li>a {
    text-decoration: none;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px 5px;
}

.feature img {
    width: 100%;
    height: auto;
}

.feature h3 {
    margin-top: 10px;
    font-size: 18px;
}

.feature p {
    margin-top: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Login and Register Form Styles */
#login-form, #register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 18vh;
    background: #f2f2f2;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  .hyper_link{
    font-weight: 800;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
button:hover {
    background: #45a049;
}

  #auction {
    margin: auto;
    width: 550px;
    margin-bottom: 20px;
  }
  
  #auction h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  #auction p {
    margin-bottom: 10px;
  }
  
  #bid-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #bid-form input[type="number"] {
    width: 100px;
  }
  
  #bid-form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #bid-history {
    list-style-type: none;
    padding: 0;
  }
  
  #bid-history li {
    margin-bottom: 5px;
  }
  